<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>Create Case</title>
</head>
<body>
    <h1>Update User</h1> 
  
    <form action="createCase" method="POST"> 
        <pre> 
            Email    : <input type="text" name="email"
                        value='<%=caseRec.email%>'> <br> 
  
            Subject     : <input type="text" name="subject"
                        value='<%=caseRec.subject%>'> <br> 
  
            Description   : <input type="text" name="description"
                        value='<%=caseRec.description%>'> <br> 
  
  
            <input type="submit" value="Submit Form">  
        </pre> 
    </form> 
</body>
</html>